<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="rdlTestApp.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=TAPROCESS;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="rdlTestApp.Properties.Settings.Vital_BasicsConnectionString"
            connectionString="Data Source=TAPROCESS;Initial Catalog=Vital_Basics;Integrated Security=True;Connect Timeout=0;Encrypt=False;Packet Size=4096;Workstation ID=DEVELOPMENT00"
            providerName="System.Data.SqlClient" />
        <add name="rdlTestApp.Properties.Settings.vbMediaConnectionString"
            connectionString="Data Source=taprocess;Initial Catalog=vbMedia;Integrated Security=True;Connect Timeout=0;Encrypt=False;Packet Size=4096;Workstation ID=DEVELOPMENT00"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>